
<md-toolbar color="primary">
    <a class="title" routerLink="/" md-button>
        <!-- <img src="/assets/icon.png" alt=""> -->
        <span>DB Diagrams</span>
    </a>
    <span class="content">
        <a [routerLink]="['/guides']" md-button>Guides</a>
        <ng-content></ng-content>
    </span>
    <span>
        <a href="https://github.com/EvAlex/ef-db-diagrams" target="_blank" md-button>
            <img src="/assets/github-circle-white-transparent.svg" alt="GitHub" class="github-logo">
            Github
        </a>
    </span>
</md-toolbar>
