<header>
    <h1 class="mat-h1">Database Diagrams</h1>
    <h2 class="mat-h2">Entity Framework Core model visualization</h2>
    <a [routerLink]="['/guides/getting-started']" md-raised-button>Get Started</a>
</header>

<main>
    <article>
        <div class="rows">

            <div class="row">
                <div class="text-container">
                    <h2>
                        No preinstall, zero config
                    </h2>
                    <p>
                        Visualize Model layer of your application as a ER-like diagram without any 3-rd party tools.
                        View the diagram in any browser, no plug-ins needed.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="text-container">
                    <h2>Better than the docs</h2>
                    <p>
                        Use database diagram instead of writing and constantly updating your documentation
                        on the Model layer in your app. The diagram is perfect for both analysis and new
                        features design. New developers in your project will love it, and your team meetings
                        will be much more productive!
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="text-container">
                    <h2>Collaborate</h2>
                    <p>
                        Use import/export to save your diagram as a JSON file and share it with your team.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="text-container">
                    <h2>Print</h2>
                    <p>
                        Print the diagram if you prefer working with paper. Will be useful on meetings.
                    </p>
                </div>
            </div>
        </div>
    </article>

</main>
