@import '~@angular/material/theming';
@import '../../../theme';
@import '../../../mixins';

:host {
    display: block;
    height: 100%;
    position: relative;

    .diagram-scroll-container {
            height: 100%;
            width: 100%;
            overflow: auto;
            // border: 1px solid black;
            position: relative;

        .diagram-container {
            margin: 16px;
            position: relative;
            height: 100%;
        }

        efd-scaling-toolbar {
            position: fixed;
            z-index: 30;
            right: 17px; // these offsets equal Chrome scrollbar width. TODO what about other sizes?
            bottom: 17px;
            padding: 8px;
            background: white;
            border: 1px solid #eee;
            border-right-width: 0;
            border-bottom-width: 0;
            border-top-left-radius: 2px;
        }
    }

    efd-db-entity-diagram-figure {
    }

    .relation-path-line {
        position: absolute;
        background: black;
        // transition: transition-property(background);

        &.hover {
            background: mat-color(map-get($efd-app-theme, accent));

            &.connected-before:before,
            &.connected-after:after {
                background: mat-color(map-get($efd-app-theme, accent));
            }
        }

        &.connected-before:before,
        &.connected-after:after {
            content: ' ';
            display: block;
            width: 4px;
            height: 4px;
            position: absolute;
            background: black;
            border-radius: 2px;
        }

        &.horizontal {
            &.connected-before:before {
                left: -2px;
            }
            &.connected-after:after {
                right: -2px;
            }
        }

        &.vertical {
            &.connected-before:before {
                top: -2px;
            }
            &.connected-after:after {
                bottom: -2px;
            }
        }
    }
}
