
<md-spinner *ngIf="!model"></md-spinner>

<h1 *ngIf="!model.entities || model.entities.length === 0">Database model is empty</h1>

<div *ngIf="model?.entities.length > 0" #scrollContainer class="diagram-scroll-container">

    <div class="diagram-container" efdScalable (scale)="onScale($event)">

        <efd-db-entity-diagram-figure
            *ngFor="let e of model.entities; trackBy: getEntityKey"
            [model]="model"
            [entity]="e"
            efdDraggable
            [dragChangeElementStyle]="false"
            (efdDrag)="onEntityDrag(e, $event)"
            (efdDragStart)="onEntityDragStart(e)"
            (efdDragEnd)="onEntityDragEnd(e)"
            [scrollContainer]="scrollContainer"
            >
            <!--
            -->
        </efd-db-entity-diagram-figure>

        <!-- <efd-db-relation-connector *ngFor="let relation of modelLayout.relations" [relation]="relation"></efd-db-relation-connector> -->

        <ng-container *ngFor="let relation of modelLayout.relations">
            <div *ngFor="let line of relation.fullPath"
                class="relation-path-line"
                [class.hover]="hoveredRelation === relation"
                [style.left.px]="line.isHorizontal ? line.left.x : line.p1.x - line.width / 2"
                [style.top.px]="line.isHorizontal ? line.p1.y - line.width / 2 : line.top.y"
                [style.width.px]="line.isHorizontal ? line.dx : line.width"
                [style.height.px]="line.isHorizontal ? line.width : line.dy"
                [style.zIndex]="relation.zIndex"
                [title]="relation.toString()"
                (mouseover)="onMouseOverRelation($event, relation)">
            </div>
        </ng-container>

    </div>

</div>
