
<md-spinner *ngIf="!model"></md-spinner>

<h1 *ngIf="!model.entities || model.entities.length === 0">Database model is empty</h1>

<div *ngIf="model?.entities.length > 0" #scrollContainer efdScrollbarWidth #scrollbar="efdScrollbarWidth" class="diagram-scroll-container" efdMouseEdgePan>

    <div class="diagram-container" efdScalable #scaleInfo="efdScalable" [scale]="modelLayout.currentScale.scale" (scaleChange)="modelLayout.currentScale = $event">

        <efd-db-entity-diagram-figure
            *ngFor="let e of model.entities; trackBy: getEntityKey"
            [model]="model"
            [entity]="e"
            efdDraggable
            [efdDraggableScaleInfo]="scaleInfo"
            [dragChangeElementStyle]="false"
            (efdDrag)="onEntityDrag(e, $event)"
            (efdDragStart)="onEntityDragStart(e)"
            (efdDragEnd)="onEntityDragEnd(e)"
            [scrollContainer]="scrollContainer"
            >
            <!--
            -->
        </efd-db-entity-diagram-figure>

        <!-- <efd-db-relation-connector *ngFor="let relation of modelLayout.relations" [relation]="relation"></efd-db-relation-connector> -->

        <ng-container *ngFor="let relation of modelLayout.visibleRelations">
            <div *ngFor="let line of relation.fullPath"
                class="relation-path-line"
                [class.horizontal]="line.isHorizontal"
                [class.vertical]="line.isVertical"
                [class.connected-before]="relation.isConnectedBefore(line) && line.length >= line.width"
                [class.connected-after]="relation.isConnectedAfter(line) && line.length >= line.width"
                [class.hover]="hoveredRelation === relation"
                [style.left.px]="line.isHorizontal ? line.left.x : line.p1.x - line.width / 2"
                [style.top.px]="line.isHorizontal ? line.p1.y - line.width / 2 : line.top.y"
                [style.width.px]="line.isHorizontal ? line.dx : line.width"
                [style.height.px]="line.isHorizontal ? line.width : line.dy"
                [style.zIndex]="relation.zIndex"
                [title]="relation.toString()"
                (mouseover)="onMouseOverRelation($event, relation)"
                [efdDraggable]="relation.isDraggable(line)"
                dragCursor="col-resize"
                [efdDraggableScaleInfo]="scaleInfo"
                [dragChangeElementStyle]="false"
                (efdDrag)="onRelationLineDrag(relation, line, $event)"
                (efdDragStart)="onRelationLineDragStart(relation, line)"
                (efdDragEnd)="onRelationLineDragEnd(relation, line)">
            </div>
        </ng-container>

    </div>

    <efd-minimap
        [targetElement]="scrollContainer"
        [style.width.px]="scrollContainer.clientWidth * 0.2"
        [style.height.px]="scrollContainer.clientHeight * 0.2"
        [style.right.px]="scrollbar.horizontalScrollbarWidth"
        [style.bottom.px]="scrollbar.verticalScrollbarWidth">
    </efd-minimap>

</div>
