<md-card>
    <md-card-title>
        <span>{{entity.shortName}}</span>
        <button type="button" md-icon-button (click)="toggleEntityCollapsed()">
            <md-icon *ngIf="entityLayout.collapsed">expand_more</md-icon>
            <md-icon *ngIf="!entityLayout.collapsed">expand_less</md-icon>
        </button>
    </md-card-title>
    <md-card-content [class.collapsed]="entityLayout.collapsed">
        <md-table #table [dataSource]="propertiesDataSource">
            <!-- Key Column -->
            <ng-container cdkColumnDef="key">
                <md-header-cell *cdkHeaderCellDef> Key </md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <md-icon *ngIf="isKey(row)">vpn_key</md-icon>
                    <span *ngIf="isForeignKey(row)">FK</span>
                </md-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container cdkColumnDef="name">
                <md-header-cell *cdkHeaderCellDef> Property </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{ row.name }} </md-cell>
            </ng-container>

            <!-- Type Column -->
            <ng-container cdkColumnDef="clrType">
                <md-header-cell *cdkHeaderCellDef> Type </md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <efd-clr-type [type]="row.clrType"></efd-clr-type>
                </md-cell>
            </ng-container>

            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
    </md-card-content>
</md-card>
