EntityFrameworkCore.Diagrams/EntityFrameworkCore.Diagrams/wwwroot/
EntityFrameworkCore.Diagrams/EntityFrameworkCore.Diagrams.Frontend/dist
EntityFrameworkCore.Diagrams/EntityFrameworkCore.Diagrams.Frontend/.angular
EntityFrameworkCore.Diagrams/EntityFrameworkCore.Diagrams.Demo/wwwroot/
