@import '~@angular/material/theming';
@import '../../../theme';

header {
    background: mat-color(map-get($efd-app-theme, primary));
    color: rgba(255, 255, 255, 0.87);
    padding: 0 20px;
    box-sizing: border-box;

    h1 {
        font-size: 30px;
        font-weight: 300;
        margin: 0;
        padding: 50px;
    }
}

main {
    min-height: 300px;

    md-nav-list {
        margin: 50px;

        [md-list-item] {
            color: mat-color(map-get($efd-app-theme, primary));
        }
    }
}
