
md-toolbar {
    overflow-x: hidden;

    .title {
        flex: 0 0 160px;
        padding-left: 16px;
        text-decoration: none;
        margin-top: 1px;

        img {
            height: 32px;
            vertical-align: middle;
            margin-right: 8px;
        }

        span {
            vertical-align: middle;
        }

        @media (max-width: 600px) {
            flex: 0 0 120px;
        }
    }

    .content {
        flex: 1;
    }

    .github-logo {

        @media (max-width: 488px) {
            display: none;
        }

        &-sm {
            display: none;

            @media (max-width: 488px) {
                display: inline-block;
            }
        }
    }

    .github-logo,
    .github-logo-sm {
        img {
            height: 22px;
            margin: 0 6px;
        }
    }
}
