
<h2 mat-dialog-title>Export</h2>

<mat-dialog-content>

    <mat-radio-group [(ngModel)]="selectedExportType">
        <mat-radio-button [value]="exportTypeLayout">Layout only</mat-radio-button>
        <mat-radio-button [value]="exportTypeModelWithLayout">Model with Layout</mat-radio-button>
    </mat-radio-group>

</mat-dialog-content>

<mat-dialog-actions>

    <a [efdDownloadData]="exportData" [efdDownloadFilename]="exportFilename" mat-button (click)="close()">
        <mat-icon>file_download</mat-icon>
        Export
    </a>

    <button mat-button mat-dialog-close>Cancel</button>

</mat-dialog-actions>
