<ng-template #toolbar>
    <mat-toolbar class="main-toolbar" color="primary" [class.floating-toolbar]="toolbarCollapsed">

        <span #toolbarTitle class="title">
            Db Diagram
        </span>

        <span #toolbarControls class="controls">

            <ng-container *ngIf="!!model && modelLayout?.initialized">
                <button
                    *ngIf="toolbarControls.parentElement.clientWidth >= responsiveBreakpoints.saveBtn"
                    type="button"
                    mat-icon-button
                    (click)="saveLayout()"
                    matTooltip="Save layout">
                    <mat-icon>save</mat-icon>
                </button>
                <button
                    *ngIf="toolbarControls.parentElement.clientWidth >= responsiveBreakpoints.restoreBtn"
                    type="button"
                    mat-icon-button
                    (click)="restoreLayout()"
                    matTooltip="Load layout">
                    <mat-icon>folder_open</mat-icon>
                </button>
            </ng-container>
            <button
                *ngIf="allowToolbarCollapse"
                type="button"
                mat-icon-button
                (click)="toolbarCollapsed = !toolbarCollapsed"
                matTooltip="toolbarCollapsed ? 'Expand' : 'Collapse'">
                <mat-icon *ngIf="!toolbarCollapsed">expand_less</mat-icon>
                <mat-icon *ngIf="toolbarCollapsed">expand_more</mat-icon>
            </button>
            <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #appMenu="matMenu" class="app-menu">
                <button
                    *ngIf="toolbarControls.parentElement.clientWidth < responsiveBreakpoints.saveBtn"
                    type="button"
                    mat-menu-item
                    (click)="saveLayout()">
                    <mat-icon>save</mat-icon> Save Layout
                </button>
                <button
                    *ngIf="toolbarControls.parentElement.clientWidth < responsiveBreakpoints.restoreBtn"
                    type="button"
                    mat-menu-item
                    (click)="restoreLayout()">
                    <mat-icon>folder_open</mat-icon> Restore Layout
                </button>
                <ng-container *ngIf="!!model && modelLayout?.initialized">
                    <button mat-menu-item (click)="showExportDialog()">
                        <mat-icon>file_download</mat-icon> Export
                    </button>
                </ng-container>
                <button
                    type="button"
                    class="import-btn"
                    mat-menu-item>
                    <mat-icon>file_upload</mat-icon> Import
                    <input
                        type="file"
                        name="aligned-points"
                        (change)="onImportFileUpload($event)">
                </button>
            </mat-menu>

        </span>

    </mat-toolbar>
</ng-template>

<mat-grid-list cols="4" rowHeight="fit" id="container-right-column">
    <mat-grid-tile class="toolbar" [colspan]="toolbarCollapsed ? 0 : 1">
        <div class="toolbar-inner">

            <ng-template *ngIf="true; then toolbar"></ng-template>

            <ng-container *ngIf="!!model && modelLayout?.initialized">

                <div class="spacer toolbar-content">
                    <mat-toolbar>
                        <span class="title">Entities</span>

                        <button
                            type="button"
                            mat-icon-button
                            (click)="toggleAllEntitiesVisibility()">
                            <mat-icon *ngIf="modelLayout.visibleEntities.length > 0">visibility</mat-icon>
                            <mat-icon *ngIf="modelLayout.visibleEntities.length === 0">visibility_off</mat-icon>
                        </button>
                    </mat-toolbar>
                    <mat-nav-list class="entities-list" dense>
                        <mat-list-item *ngFor="let entity of modelLayout.entities">
                            <mat-icon mat-list-icon>web_asset</mat-icon>
                            <a href="javascript:void(0);" mat-line>
                                {{ entity.entity.shortName }}
                            </a>
                            <button
                                type="button"
                                mat-icon-button
                                (click)="toggleEntityVisibility(entity); $event.stopPropagation()">
                                <mat-icon *ngIf="entity.visible">visibility</mat-icon>
                                <mat-icon *ngIf="!entity.visible">visibility_off</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-nav-list>

                    <mat-toolbar>
                        <span class="title">Entity Settings</span>
                    </mat-toolbar>
                    <section>
                        <h4>Properties Table Columns</h4>
                        <div
                            *ngFor="let column of modelLayout.entitiesTableSettings.columns"
                            class="column-settings">

                            <span class="reorder-buttons-container">
                                <button
                                    type="button"
                                    mat-icon-button
                                    [disabled]="!modelLayout.entitiesTableSettings.canMoveColumnUp(column)"
                                    (click)="modelLayout.entitiesTableSettings.moveColumnUp(column)">
                                    <mat-icon>arrow_drop_up</mat-icon>
                                </button>
                                <button
                                    type="button"
                                    mat-icon-button
                                    [disabled]="!modelLayout.entitiesTableSettings.canMoveColumnDown(column)"
                                    (click)="modelLayout.entitiesTableSettings.moveColumnDown(column)">
                                    <mat-icon>arrow_drop_down</mat-icon>
                                </button>
                            </span>

                            <mat-slide-toggle
                                [checked]="column.visible"
                                (change)="column.toggleVisibility()"
                                [disabled]="column.alwaysVisible">
                            </mat-slide-toggle>

                            <mat-input-container>
                                <input
                                    type="text"
                                    mdInput
                                    [placeholder]="'Column title - ' + column.key"
                                    [(ngModel)]="column.name">
                            </mat-input-container>

                        </div>
                    </section>
                </div>

                <efd-scaling-toolbar [(scale)]="modelLayout.currentScale.scale"></efd-scaling-toolbar>

            </ng-container>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="toolbarCollapsed ? 4 : 3" class="diagram">
        <mat-spinner *ngIf="modelLoading"></mat-spinner>

        <div *ngIf="modelLoadError">

            <h1>Failed to load database model.</h1>

            <pre>
                {{ modelLoadError }}
            </pre>
        </div>

        <ng-template *ngIf="toolbarCollapsed; then toolbar"></ng-template>

        <efd-db-diagram *ngIf="!modelLoading && !modelLoadError && !!model" [model]="model"></efd-db-diagram>

        <div *ngIf="!modelLoading && !modelLoadError && !model" class="no-diagram-cont">
            <h1>No diagram found</h1>
            <h2>Try importing one</h2>
        </div>
    </mat-grid-tile>
</mat-grid-list>
