@import '~@angular/material/theming';

:host {
    display: block;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    md-grid-list {
        height: 100%;

        .toolbar {
            @include mat-elevation(8);
            z-index: 30;

            @media print {
                display: none;
            }

            &-inner {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                .spacer {
                    flex: 1;
                }

                .toolbar-content {
                    overflow: auto;

                    .entities-list {

                        [md-icon-button] {
                            width: 20px;
                            height: 20px;
                            line-height: 20px;

                            md-icon {
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                font-size: 20px;
                            }
                        }
                    }

                    md-toolbar {
                        margin-top: 16px;
                    }

                    section {
                        margin: 16px;

                        h4 {
                            font-weight: normal;
                        }

                        md-slide-toggle {
                            margin-right: 8px;
                        }

                        .reorder-buttons-container {
                            display: inline-flex;
                            flex-direction: column;
                            align-items: center;
                            vertical-align: middle;
                            margin-left: 8px;

                            [md-icon-button] {
                                width: 20px;
                                height: 20px;
                                line-height: 20px;

                                md-icon {
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }

                efd-scaling-toolbar {
                    padding: 8px;
                    background: white;
                    border-top: 1px solid #eee;
                    text-align: center;
                }
            }
        }

        .diagram {
            @media print {
                left: 0 !important;
                width: 100vw !important;
            }
        }
    }
}
