<efd-header>
    <h1>Live Demo</h1>
</efd-header>

<main [class.fullscreen]="fullscreen">

    <section>
        <h2>The actual app</h2>
        <p>
            The live demo below is an actual app that you will see at <code>/db-diagrams</code> page
            after installing the library to your project. It will automatically display your DbContext's
            model.
        </p>

        <h2 #viewInFullscreen>View in fullscreen</h2>
        <p>
            Fullscreen mode lets you see how actual app looks like.
            Some features are available only in fullscreen mode, e.g. minimap and toolbar expand-collapse.
        </p>
        <button type="button" class="toggle-fullscreen-btn" md-raised-button (click)="toggleFullscreen()">
            <mat-icon>fullscreen_enter</mat-icon>
            Fullscreen
        </button>
    </section>

    <efd-root [allowToolbarCollapse]="fullscreen" (diagramLoad)="onDiagramLoaded($event)"></efd-root>

    <button *ngIf="fullscreen" type="button" class="toggle-fullscreen-btn" md-fab matTooltip="Exit fullscreen mode"
        [matTooltipPosition]="right" (click)="toggleFullscreen()">
        <mat-icon>fullscreen_exit</mat-icon>
    </button>

    <section>
        <h2>Latest version here</h2>
        <p>
            The latest version of the app always will be published here. Current version is
            <a [href]="commitLink" target="_blank">{{commitSha}}</a>
        </p>
        <p>
            Found a bug? Try exporting your diagram and importing it here to see whether the issue is
            already resolved in the latest version. If not - <a
                href="https://github.com/EvAlex/ef-db-diagrams/issues/new?labels=bug" target="_blank">create an
                issue</a>.
        </p>
        <p>
            Have a feature proposal? Try this version first to see, whether the feature is already
            implemented. If not - <a href="https://github.com/EvAlex/ef-db-diagrams/issues/new?labels=enhancement"
                target="_blank">create an issue</a>.
        </p>
    </section>
</main>