
:host {
    font-family: Roboto monospace;
    display: inline-flex;

    .token {
        color: #000000;
    }

    .type {
        color: #2B91AF;
    }

    .keyword {
        color: #0000FF;
    }
}
